<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <h2>Sign up</h2>

                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>

                  <div class="form-group">
                    <%= f.label :username %><br />
                    <%= f.text_field :username, autofocus: true, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.submit "Sign up", class: "btn btn-primary" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
</div>
