<%= form_for @movie, html: { multipart: true } do |f| %>
    
    <%= errors_for @movie %>

    <div class="form-group">
        <%= f.label :image %><br>
        <%= f.file_field :image, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control", rows: 8 %>
    </div>
    <div class="form-group">
      <%= f.label :year %><br>
      <%= f.number_field :year, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :duration %><br>
      <%= f.text_field :duration, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :rating %><br>
      <%= f.text_field :rating, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit btn_text, class: "btn btn-primary" %>
    </div>
<% end %>
