<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Editing <%= @movie.title %></h2>
                <%= image_tag @movie.image.url(:medium) %>
                <br/>
                <%= render :partial => 'form', :locals => {:btn_text => 'Edit'} %>
            </div>
        </div>
    </div>
</div>