<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>TutIMDB</h1>
    <p>This is a web app developed in <em>Ruby on Rails</em> framework and <em>Bootstrap</em>. TutIMDB is quite similar it <strong>IMDB</strong> website for movie reviews.</p>
    <p><%= link_to "Sign up to review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: "image"), movie %>
      </div>
    </div>
  <% end %>
</div>