<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>New Movie</h2>
                <%= render :partial => 'form', :locals => {:btn_text => 'Save'} %>
            </div>
        </div>
    </div>
</div>