<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
            <%= image_tag @movie.image.url(:medium) %>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <h2>
                <%= @movie.title %>
                <small>
                    <div class="star-rating" data-score="<%= @avg_review %>"></div>
                    <em><%= @reviews.length %> reviews</em>
                </small>
            </h2>

            <p><strong>Description:</strong></p>
            <p><%= @movie.description %></p>

            <dl class="dl-horizontal">
                <dt>Year:</dt>
                <dd><%= @movie.year %></dd>

                <dt>Duration:</dt>
                <dd><%= @movie.duration %></dd>

                <dt>Rating:</dt>
                <dd><%= @movie.rating %></dd>
            </dl>
          
            <div class="btn-group">
                <%= link_to 'Back', movies_path, class: "btn btn-primary" %>&nbsp;
                <%= link_to 'Edit', edit_movie_path(@movie), class: "btn btn-warning" %>&nbsp;
                <%= link_to 'Delete', movie_path(@movie), method: :delete, class: "btn btn-danger" %>
            </div>

            <hr/>

            <h3>Reviews for this movie</h3>

            <% if @reviews.blank? %>
                <div class="alert alert-warning">
                    <strong class="lead">No reviews have been made for this movie.</strong><br/>
                    Be the first one who will write a review here!
                </div>
            <% else %>
                <ul class="list-unstyled">
                    <% @reviews.each do |review| %>
                        <li>
                            <div class="star-rating" data-score="<%= review.rating %>"></div>&nbsp;
                            <%= review.comment %>
                        </li>
                    <% end %>
                </ul>
            <% end %>

            <%= link_to 'Add Your Review', new_movie_review_path(@movie), class: "btn btn-primary btn-block btn-lg" %>

        </div>
      </div>
    </div>
</div>