<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <h2>Log in</h2>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-group">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true, class: "form-control" %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="form-group">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end -%>

                  <div class="form-group">
                    <%= f.submit "Log in", class: "btn btn-primary" %>
                  </div>
                <% end %>

                <%= render "devise/shared/links" %>

            </div>
        </div>
    </div>
</div>

