 <% if object.errors.any? %>
    <div class="alert alert-danger">
        <h4>Ooops! <%= pluralize(object.errors.count, "error") %> occured:</h4>

        <ul>
            <% object.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
    </div>
<% end %>