<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-body">

                <h2>New Review</h2>

                <%= form_for([@movie, @review]) do |f| %>
                    
                    <%= errors_for @review %>

                    <div class="form-group">
                        <%= f.label :rating %><br>
                        <div id="rate-movie"></div>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :comment %><br>
                        <%= f.text_area :comment, class: "form-control", rows: 4 %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.submit "Add", class: "btn btn-primary" %>
                    </div>
                <% end %>

                <%= link_to 'Go Back', movie_path(@movie) %>

            </div>
        </div>
    </div>
</div>
