<!DOCTYPE html>
<html>
<head>
  <title>TutImdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render "nav" %>

  <div class="container">
    <%= render "flash" %>
    <%= yield %>
  </div>

  <div class="container">
    <hr/>
    <footer>
      <p>&copy; 2016 Lykourgos.</p>
    </footer>
  </div>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
